fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic[email]
pydantic-settings
python-jose[cryptography]
bcrypt
passlib[bcrypt]
pytest
httpx
python-multipart
redis
python-dotenv
scalar-fastapi

psycopg2-binary
PyMySQL
fastmcp[server]
trio

streamlit>=1.38
openai>=1.50
fastmcp>=2.0
pdfplumber>=0.11.0