fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic[email]
pydantic-settings
python-jose[cryptography]
bcrypt
passlib[bcrypt]
pytest
httpx
python-multipart
redis
python-dotenv
scalar-fastapi